<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86534504753-onokgc7fbd647hpavocvinloaqaqpca2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86534504753-onokgc7fbd647hpavocvinloaqaqpca2</string>
	<key>API_KEY</key>
	<string>AIzaSyCdPAH74xsEfBHiJgmDYoeYpBtCOh6gqQo</string>
	<key>GCM_SENDER_ID</key>
	<string>86534504753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.pollutionEnvironment</string>
	<key>PROJECT_ID</key>
	<string>smartenviroment</string>
	<key>STORAGE_BUCKET</key>
	<string>smartenviroment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86534504753:ios:d2925aa9f6ab0cc8f3b010</string>
</dict>
</plist>